<% @klasses = @apidocs.keys.sort %>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="apidocs.css" />
    <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
  </head>
  <body>
    <ul id="toc">
      <% @klasses.each do |klass| %>
        <% actions = @apidocs[klass] %>
        <li>
          <a href="#<%= klass %>"><%= klass %></a>
          <ul>
            <% action_names = actions.keys.sort %>
            <% action_names.each do |action_name| %>
              <% docs = actions[action_name] %>
              <li><a href="#<%= klass %>:<%= action_name.join(' ').gsub(/ /, '-') %>"><%= action_name.join(' ') %></a></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
    <div id="docs">
      <% @klasses.each do |klass| %>
        <% actions = @apidocs[klass] %>
        <h1><a name="<%= klass %>"><%= klass %></a></h1>
        <% action_names = actions.keys.sort %>
        <% action_names.each do |action| %>
          <% docs = actions[action] %>
          <h2><a name="<%= klass %>:<%= action.join(' ').gsub(/ /, '-') %>"><%= action.join(' ') %></a></h2>
          <p><%= docs[:description] %></p>
          <h3>URL</h3>
          <p><%= docs[:uri] %></p>
          <h3>Requires authorization</h3>
          <p><%= docs[:session]["user_credentials"] ? "Yes" : "No" %></p>
          <h3>Method</h3>
          <p><%= docs[:method] %></p>
          <% docs[:options].each do |k, v| %>
            <h3><%= k.to_s %></h3>
            <pre><%= JSON.pretty_generate(v) %></pre>
          <% end %>
          <h3>Request example</h3>
          <% p docs[:request_example].class %>
          <pre><%= JSON.pretty_generate(docs[:request_example].dup) %></pre>
          <h3>Response status</h3>
          <p><%= docs[:response_status] %></p>
          <% if docs[:response_body] %>
            <h3>Response body</h3>
            <pre><%= docs[:response_body] %></pre>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>

