<html>
  <head>
    <link rel="stylesheet" type="text/css" href="apidocs.css" />
  </head>
  <body>
    <ul id="toc">
      <% @apidocs.each do |klass, actions| %>
        <li>
          <a href="#<%= klass %>"><%= klass %></a>
          <ul>
            <% actions.each do |action, docs| %>
              <li><a href="#<%= klass %>:<%= action.join(' ').camelize %>"><%= action.join(' ').camelize %></a></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
    <div id="docs">
      <% @apidocs.each do |klass, actions| %>
        <h1><a name="<%= klass %>"><%= klass %></a></h1>
        <% actions.each do |action, docs| %>
          <h2><a name="<%= klass %>:<%= action.join(' ').camelize %>"><%= action.join(' ').camelize %></a></h2>
          <p><%= docs[:description].camelize %></p>
          <h3>URL</h3>
          <p><%= docs[:uri] %></p>
          <h3>Method</h3>
          <p><%= docs[:method] %></p>
          <% docs[:options].each do |k, v| %>
            <h3><%= k.to_s.camelize %></h3>
            <pre><%= JSON.pretty_generate(v) %></pre>
          <% end %>
          <h3>Request example</h3>
          <% p docs[:request_example].class %>
          <pre><%= JSON.pretty_generate(docs[:request_example].dup) %></pre>
          <h3>Response status</h3>
          <p><%= docs[:response_status] %></p>
          <h3>Response body</h3>
          <pre><%= JSON.pretty_generate(docs[:response_body]) %></pre>
        <% end %>
      <% end %>
    </div>
  </body>
</html>

